<div>
    <p>Título: <b>@Pelicula.Titulo</b></p>
    <p>Lanzamiento: <b>@Pelicula.Lanzameinto.ToString("dd MMM yyyy")</b></p>
    @if (MostrarBotones)
    {
        <div>
            <button @onclick="EliminarPelicula">Borrar</button>
        </div>
    }

</div>

@code{
    [Parameter] public Pelicula Pelicula { get; set; }
    [Parameter] public bool MostrarBotones { get; set; }
    [Parameter] public EventCallback EliminarPelicula { get; set; }
}