@page "/"
@inject ServicioSingleton singleton
@inject IRepositorio  repositorio

<p>EL valor del singleton es: @singleton.Valor</p>

<p>Hola, @UtilidadesString.Enmayuscular(nombre)</p>
<button @onclick="ManejarClick">HACER CLICK</button>

<p>Suma 2 + 2 = @(2 + 2)</p>

<div>
    <h3>Peliculas</h3>
    <ListadoPeliculas Peliculas="Peliculas" />
</div>

<button @onclick="AgregarPelicula">Agregar Película</button>

@code
{
    string nombre = "Javier";

    private List<Pelicula> Peliculas;

    protected override void OnInitialized()
    {
        Peliculas = repositorio.ObtenerPeliculas();
    }

    private void AgregarPelicula()
    {
        Peliculas.Add(new Pelicula() { Titulo = "Nueva pelicula", Lanzameinto = DateTime.Today });
    }

    public Pelicula SpiderMan { get { return ObtenerPelicula(); } }

    public Pelicula ObtenerPelicula()
    {
        return new Pelicula()
        {
            Titulo = "Spiderman: Far from Home",
            Lanzameinto = new DateTime(2019, 7, 2)
        };
    }

    private void ManejarClick()
    {
        Console.WriteLine("Me han clickeado!");
    }
}