@page "/"

<p>Hola, @UtilidadesString.Enmayuscular(nombre)</p>
<button @onclick="ManejarClick">HACER CLICK</button>

<p>Suma 2 + 2 = @(2+2)</p>

<div>
    <h3>Películas</h3>
    <ListadoPeliculas/>
</div>

@code
{
    string nombre = "Javier";

    public Pelicula SpiderMan { get { return ObtenerPelicula(); } }

    public Pelicula ObtenerPelicula()
    {
        return new Pelicula()
        {
            Titulo = "Spiderman: Far from Home",
            Lanzameinto = new DateTime(2019,7,2)
        };
    }

    private void ManejarClick()
    {
        Console.WriteLine("Me han clickeado!");
    }
}