@page "/"

<p>Hola, @Enmayuscular(nombre)</p>
<button @onclick="ManejarClick">HACER CLICK</button>

<p>Suma 2 + 2 = @(2+2)</p>

@code
{
    string nombre = "Javier";
    string Enmayuscular(string valor) => valor.ToUpper();

    private void ManejarClick()
    {
        Console.WriteLine("Me han clickeado!");
    }
}